@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');


*{
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    margin-top: 30px;
}

.containerCard{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: white;
    height: 95%;
    width: 95%;
    align-items: center;
    padding-bottom:20px ;
}
.containerPicture{
    overflow: hidden;
}

img{
    width: 100%;
    text-align: center;
    border-radius: 12px;
    z-index: 1;
}

.containerText{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 23px;
    border: solid white;
}

.containerText > p{
    font-family: "Montserrat";
    letter-spacing: 5px;
    padding-top: 24px;
    color: hsl(228, 12%, 48%);
}

.containerText-name > p{
    font-family: "Fraunces";
    font-weight: 800;
    font-size: 2.4em;
    color: hsl(212, 21%, 14%);
}

.containerText-description{
    font-family: "Montserrat";
    color: hsl(228, 12%, 48%);
    width: 95%;
    padding-bottom: 5px;
}

.containerText-description > p{
   line-height: 25px;
}

.containerText-price{
    display: flex;
    gap: 10px;
    align-items: center;
}

.containerText-price > p{
    font-size: 2.5rem;
    font-family: "Fraunces";
    color: hsl(158, 36%, 37%);
}

.containerText-price > label{
    text-decoration:line-through;
    color: hsl(228, 12%, 48%);
}

.containerButton{
    display: flex;
    justify-content: center;
}

i{
    font-size: 1.6rem;
}

button{
    font-family: "Montserrat";
    margin-top: 7px;
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: hsl(212, 21%, 14%);
}

@media(width > 800px){
    body{
        height: 600px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        background-color: hsl(30, 38%, 92%);
        margin-top: 80px;
    }

    .containerCard{
        display: flex;
        flex-direction: row;
        border-radius: 12px;
        background-color: white;
        height: 600px;
        width: 800px;
        padding: 0;
    }

    img{
        display: none;
    }
    .containerPicture{
        height: 600px;
        width: 100%;
        background-image: url(./assets2/image-product-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
    }   

    .containerText{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        gap: 40px;
        padding-left: 35px;
        padding-right: 75px;
    }

    .containerText-name > p{  
        font-size: 3em;
        line-height: 46px;
    }

    .containerText-description > p{
        font-size: 17px;
     }
}








